<link rel="import" href="../../bower_components/polymer/polymer-element.html">

<dom-module id="mi-visor">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <div class="container">
      <div class="row">
        <img src="https://image.flaticon.com/icons/svg/893/893054.svg" height="300px" width="300px">
      </div>

      <div class="row">
        <button type="button" name="button" class="btn btn-success" on-click="incrementar">Cargar datos</button><!--El onclick de polymer es on-click-->
      </div>

      <div class="row">
        <input type="text" name="" value="{{prop1::input}}">
        <input type="text" name="" value="[[prop1]]">
      </div>

      <div class="row">
        <table class="table table-striped col-lg-6 col-xs-12" >
          <thead>
            <th>ID</th>
            <th>Nombre</th>
            <th>Apellido</th>
          </thead>

          <tbody>
            <tr>
              <th>[[prop2]]</th>
              <th>Miranda</th>
              <th>Sánchez</th>
            </tr>

            <tr>
              <th>2</th>
              <th>Mario</th>
              <th>Martinez</th>
            </tr>
          </tbody>

        </table>
      </div>
    </div>
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class MiVisor extends Polymer.Element {
      static get is() { return 'mi-visor'; }
      static get properties() {
        return {
          prop1: {
            type: String//,
            //value: 'mi-visor'
          },
          prop2:{
            type: Number,
            value: 999
          }
        };
      }
      incrementar(){
        this.prop2 += 1;
        console.log(this.prop1);
        console.log(this.prop2);
      }
    }

    window.customElements.define(MiVisor.is, MiVisor);
  </script>
</dom-module>
